.formcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

form {
  background: #dbdbdb;
  display: flex;
  flex-direction: column;
  margin: 1px;
  flex-grow: 1;
  margin: 10px;
  padding: 10px;
  filter: drop-shadow(4px 2px 2px rgb(65, 65, 65));
  h1,
  h2 {
    margin: 15px;
    align-self: center;
  }
  select {
    cursor: pointer;
  }
  input,
  select,
  label {
    margin: 10px 20px 10px 20px;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    filter: drop-shadow(2px 2px 2px rgb(65, 65, 65));
  }
  label {
    display: flex;
    filter: none;
  }
  .submit {
    margin-top: auto;
    height: 35px;
    transition: ease-in-out 0.5s;
    cursor: pointer;
    &:hover {
      background-color: orange;
      transition: ease-in-out 0.1s;
    }
  }
}

.checkboxes {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  border: 1px solid white;
  width: 80%;
  align-self: center;
  margin: 20px;
  input {
    margin: 0px 10px 0px 10px;
    width: 25px;
    padding-left: 30px;
    cursor: pointer;
  }
}
